:root {
    --back-color: #000;
    --white-color: #fff;
    --primary-color: #432275;
    --violet-color: #7200a1;
    --border-color: #2f2638;
    --text-primary: #fff;
    --text-secondary: #dadada;
    --background-hover: hsla(0,0%,100%,0.1);
    --playerControl-height: 90px;
    --creatList-height: 58px;
    --navMunu-height: 275px;
    --header-height: 70px;
    --navbarCategories-height: calc(100vh - var(--playerControl-height) - var(--creatList-height) - var(--navMunu-height));

    --search-color: #2e2739;
}

* {
    
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 
    /* 
        1rem = 10px 
    */
    line-height: 1.4rem;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

